{% extends 'home/base.html' %}

{% load static %}


{% block content %}



<section class="section-content padding-y bg">
  <div class="container">
    <div class="row">
      <main class="col-md-12">
        <h2 class="title text-center">{{project.title}}</h2>
        <div class="card">
          <div class="row no-gutters">
            <aside class="col-md-5">
              <article class="gallery-wrap">
                <div class="img-big-wrap">
                  <a href="#"><img src="{{project.image.url}}"></a>
                </div> <!-- img-big-wrap.// -->

              </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-7 border-left">
              <article class="content-body">
                <div class="mb-0">
                  <var class="price h4">Overview</var>
                </div>
                {% for overview in project.overview_set.all %}
                <p>
                  {{overview.summary}}
                </p>
                {%endfor%}
              </article> <!-- product-info-aside .// -->

              <article class="content-body">
                <div class="mb-0">
                  <var class="price h4">Technology</var>
                </div>
                <div class="row">
                  {% for technology in project.technology_set.all %}
                  <div class="col-md-4">
                    <p><i class="far fa-check-circle text-primary me-3"></i>{{ technology.technology }}</p>
                  </div>
                  {%endfor%}

                </div>
              </article>

              <article class="content-body ">
                <a href="" class="btn btn-primary mr-5">Github Link</a>
                <a href="" class="btn btn-primary">View Live Demo</a>
              </article>

            </main> <!-- col.// -->
            <div class="col-md-13">
              <div class="card">
    
                <header class="section-heading ">
                  <h3 class="text-center">Problem Statement</h3>
                </header>
                
                {% for technology in project.overview_set.all %}
                <div class="mt-0 mr-5 ml-5">
                  <p>{{technology.problem_statement}} </p>
                </div>
                {% endfor %}
              </div>
    
            </div>
          </div> <!-- row.// -->
        </div> <!-- card.// -->

        
        <!-- ============================ COMPONENT 1 END .// ================================= -->


        <div class="row">
          <div class="col-md-12">

            <header class="section-heading">
              <h3>Reviews </h3>

            </header>

            <article class="box mb-3">
              <div class="icontext w-100">
                <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
                <div class="text">
                  <span class="date text-muted float-md-right">24.04.2020 </span>
                  <h6 class="mb-1">Mike John </h6>

                </div>
              </div> <!-- icontext.// -->
              <div class="mt-3">
                <p>
                  Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>
              </div>
            </article>



          </div> <!-- col.// -->
        </div> <!-- row.// -->

      </main>

    </div>
  </div> <!-- container .//  -->
</section>
{% endblock content %}